
html,body{
    height: 100%;
    border-top: 0px solid transparent;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    background-color: #ebf3fa;
}

/*=================================================== TYPOGRAPHY ===================================================*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
  
h1 {
    font-size: 3em;
    font-weight: 700;
}
  
h2{

}

h3{
    font-size: 1.9em;
}
  
p{
    font-size: 1em;
    color: #666;
    font-weight: 400;
}

p strong {
    color: #666;
}

p span{
    color: #003B16;
}

ul{
    color: #666;
    font-weight: 400;
}

hr{
    background-color: #dedede;
}

a{
    outline: none !important;
}
  
a:hover {
    color: inherit;
}


/*=================================================== GLOBAL ===================================================*/

.btn{
    border-radius: 0.9em;
    padding: 0.5em 1.5em;
}
.customWhite{
    background-color: #edf3fa;
    box-shadow: 3px 0px 10px 0px #d5e2ed;
}

.customWhite:before{
    
}

.customWhite:after{

}
.btn.customWhite{
    border: 2px solid #edf3fa;
}
.btn.customWhite:focus,
.btn.customWhite.focus,
.btn.customWhite.active,
.btn.customWhite:active{
    box-shadow: inset 6px 4px 4px 0px #d5e2ed, 1px 0px 0px 0px #d5e2ed;
    background-color: #e3edf7;
}
.iconImg{
    max-width: 20px;
    width: 100%;
}
/*=================================================== HEADER ===================================================*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 501;
    padding: 1em 1.5em;
    height: 75px;
}

header .hamBurger{padding: 0.5em;}

header .hamBurger .openMenu{
    display: block;
}

header .hamBurger .closeMenu,
.navShow header .hamBurger .openMenu{
    display: none;
}

.navShow header .hamBurger .closeMenu{
    display: block;
}

header h4{
    color: #2c456d;
}

header .btn{padding: 1em 1.2em;}

/*=================================================== MAIN ===================================================*/

main{
    margin-top: 73px;
    padding-top: 1.5em;
}

main .mainWrapper{

}

.tabNav{
    justify-content: space-between;
}

.tabNav .tabNavItem{
    font-size: 1em;
    font-weight: 500;
    color: #2c456d;
    text-shadow: 1px 0px 2px #ffffff;
}
.tabPane{
    padding-top: 1em;;
}
.bigBtn{display: flex;align-items: center;justify-content: space-between;padding: 0.7em 1em;border-radius: 3em;background-color: #e8f0f8;border: 2px solid #e8f0f8 !important;margin-bottom: 2em;}

.bigBtn img{max-width: 35px;}

.bigBtn .textDescription{width: 60%;}
.bigBtn .textDescription h4{font-size: 1.5em;text-align: left;text-shadow: 0 0 3px #fff;color: #2c456d;margin-bottom: 0;}

.bigBtn .textDescription h4 small{display: block;font-size: 0.6em;color: #717171;}
.bigBtn span{
    border-radius: 60%;
    padding: 0;
    width: 3em;
    height: 3em;
    line-height: 2.5;
    border-radius: 2em;
    background-color: #eef4fa;
}

.bigBtn span img{
    /* margin-right: 0; */
    width: 1.5em;
    height: 1.5em;
}

.cardItem{
    background-color: #e3edf7;
    box-shadow: 3px 0px 10px 0px #d5e2ed;
    border-radius: .9em;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
}

.cardItem .cardIcon{
    width: 50px;
    height: 50px;
    padding: 1em;
    border-radius: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: #eef4fa;
    box-shadow: inset 3px 0 6px 0 rgba(255, 255, 255, 0.2), 3px 3px 6px 3px #d5e2ed;
}

.cardItem .cardIcon .iconImg{
    max-width: 100%;
}

.cardItem h3{
    font-size: 1.2em;
    margin-bottom: 0;
    text-shadow: 0 0 0px #8c8c8c;
}

.cardItem h3 small{
    display: block;
    color: #8c8c8c;
}
/*=================================================== FOOTER ===================================================*/

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0em 1.5em 1em;

}

footer .footerNav{
    border-top: 1px solid #ccc;
    padding-top: 1em;
    justify-content: space-between;
}